langchain-community
langchain
langchain-huggingface
langchain-chroma
google-search-results
langchainhub
text_generation
arxiv
wikipedia
gradio
chromadb
google_api_python_client
pypdf2
sqlmodel
rich
fastapi
sentence-transformers
PyMuPDF # for image extraction
pypdf